venv/
.venv/
env/
ENV/
bpi2017.csv
sim_random.csv
sim_random.xes
sim_predicted_earliest_available_advanced_roles.csv
sim_predicted_earliest_available_advanced_roles.xes
sim_predicted_earliest_available_basic_roles.csv
sim_predicted_earliest_available_basic_roles.xes
sim_predicted_earliest_available.csv
sim_predicted_earliest_available.xes
sim_predicted_random_advanced_roles.csv
sim_predicted_random_advanced_roles.xes
sim_predicted_random_basic_roles.csv
sim_predicted_random_basic_roles.xes
sim_predicted_random.csv
sim_predicted_random.xes
sim_predicted_round_robin_advanced_roles.csv
sim_predicted_round_robin_advanced_roles.xes
sim_predicted_round_robin_basic_roles.csv
sim_predicted_round_robin_basic_roles.xes
sim_predicted_round_robin.csv
sim_predicted_round_robin.xes
sim_predicted_dynamic_arrivals_advanced_roles.csv
sim_predicted_dynamic_arrivals_advanced_roles.xes
sim_predicted_k_batch_advanced_roles.csv
sim_predicted_k_batch_advanced_roles.xes
sim_predicted_svfa_advanced_roles.csv
sim_predicted_svfa_advanced_roles.xes
